body{
  background-color: #343d46 !important;
}
header {
	color: #dbab3d;
	font-size: 2em;
	padding-top: 20px;
	padding-bottom: 20px;
}
.box{
  margin: 100px auto;
  width: 300px;
  height: 50px;
}

.container-1 {
	width: 300px;
	vertical-align: middle;
	white-space: nowrap;
	position: relative;
}

.container-1 input#search {
	width: 300px;
	height: 50px;
	background: #2b303b;
	border: none;
	float: left;
	color: #63717f;
	padding-left: 45px;
	-webkit-border-radius: 5px;
  	-moz-border-radius: 5px;
  	border-radius: 5px;

  	-webkit-transition: background .55s ease;
	-moz-transition: background .55s ease;
	-ms-transition: background .55s ease;
	-o-transition: background .55s ease;
	transition: background .55s ease;
}

.container-1 input#search::-webkit-input-placeholder {
   color: #65737e;
}
 
.container-1 input#search:-moz-placeholder { /* Firefox 18- */
   color: #65737e;  
}
 
.container-1 input#search::-moz-placeholder {  /* Firefox 19+ */
   color: #65737e;  
}
 
.container-1 input#search:-ms-input-placeholder {  
   color: #65737e;  
}

.container-1 .icon {
	position: absolute;
	top: 50%;
	margin-left: 17px;
	margin-top: 15px;
	z-index: 1;
	color: #4f5b66;
}

.container-1 input#search:hover, .container-1 input#search:focus, .container-1 input#search:active{
    outline:none;
    background: #ffffff;
}

a {
	text-decoration: none !important;
	color: #ffffff !important;
	font-size: 1.5em;

	-webkit-transition: color .55s ease;
	-moz-transition: color .55s ease;
	-ms-transition: color .55s ease;
	-o-transition: color .55s ease;
	transition: color .55s ease;
}
a:hover {
	color: #f4b942 !important;
}

.wrapper {
	margin-left: 40px;
	margin-right: 40px;
}

ul,li { 
	list-style-type: none;
    list-style-position:inside;
    margin:0;
    padding:0;
    padding-top: 2px;
    padding-left: 20px;
    padding-right: 20px;
}

li {
	cursor: pointer;
}



#resultItem {
	color: black;
	background-color: white;
	margin: 0 auto;

	-webkit-transition: border .55s ease;
	-moz-transition: border .55s ease;
	-ms-transition: border .55s ease;
	-o-transition: border .55s ease;
	transition: border .55s ease;
}

#resultItem:hover {
	border-left: 8px solid #dbab3d;
}

#resultTitle {
	color: #343d46;
}

#resultExtract {
	padding-bottom: 20px;
	color: #000000;
}

